# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Compiled output
/dist
/build
/out
/.next

# Testing
/coverage
/.nyc_output

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary files
.temp
.tmp

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Certificates
*.pem

# Deployment
.vercel
